* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.Main {
    display: flex;
    gap: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.color {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.color-1 {
    background-color: lightblue;
    animation-name: color-animation;
    animation-duration: 1.4s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
}

.color-2 {
    background-color: tomato;
    animation-name: color-animation;
    animation-duration: 1.6s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
}

.color-3 {
    background-color: yellow;
    animation-name: color-animation;
    animation-duration: 1.7s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
}

.color-4 {
    background-color: lightcoral;
    animation-name: color-animation;
    animation-duration: 1.8s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
}


@keyframes color-animation {
    0% {
        transform: translateY(0px);

    }

    50% {
        transform: translateY(10px);

    }

    100% {
        transform: translateY(0px);
    }
}